/* GENERAL RULES */

body{
    font-family: Arial, Helvetica, sans-serif;
}

#upper{
    display: flex;
    width: 100%;
    height: calc( 100vh - 100px);
    background-color: blueviolet;
}

#side{
    height: 100%;
    width: 300px;
    background-color: #000000;
    overflow: auto;
    display: flex;
    flex-flow: column ;
}

main{
    height: 100%;
    width: calc(100% - 300px);
    background-color: #141922;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
}

/*  UPPER */
    /* NAV#SIDE */

    /* LOGO */
    #logo{
        width: 70%;
        padding: 30px 30px;
    }

    #logo-small{
        display: none;
    }

    /*  MAIN NAV */
    #main-nav ul{
        list-style: none;
        color: #d2d2d2;
        font-size: 15px;
    }

    .padding-main-nav-list{
        padding: 10px 0 10px 30px;
    }

    #main-nav a{
        text-decoration: none;
        color: #d2d2d2;
    }

    #highlighted-home{
        border-left: 5px solid #adff2f;
        border-radius: 2px;
        padding: 10px 0 10px 25px;
    }

    .nav-icons{
        font-size: 25px;
        width: 40px;
    }

    /* PLAYLIST */
    #playlist{
        flex-grow: 1;
    }

    #playlist h2{
        color: white;
        font-size: 17px;
        padding-left: 30px;
        padding-top: 25px;
    }

    #playlist h3{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #d2d2d2;
        font-size: 16px;
        padding:15px 0 15px 30px;
    }

    #plus-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #d2d2d2;
        height: 40px;
        width: 40px;
    }

    #playlist ul{
        list-style: none;
        color: #d2d2d2;
        font-size: 15px;
        height: 165px;
        overflow: auto;
    }

    #playlist li{
        padding-bottom: 15px;
        padding-left: 30px;
    }

    .fa-plus{
        font-size: 25px;
    }

    /* NAV-FOOTER */
    #nav-footer #download {
        color: #d2d2d2;
        font-size: 14px;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 15px;
        border-bottom: 2px solid #d2d2d2;
        border-radius: 1px;
    }

    .fa-circle-down{
        width: 30px;
    }

    #user{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 15px 0 15px 30px;
    }

    #user strong{
        color: white;
        font-size: 15px;
    }

    #image-user{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: #848484;
        border-radius: 50%;
        object-fit: contain;
    }

    #image-user img{
        width: 15px;
    }

    #nav-footer{
        width: 100%;
    }

    /* FOOTER */
    


















/* DEBUG RULES */

footer .row section{
    background-color: greenyellow;
    height: 100px;
}